h1 {
  color: black;
}
.sun-icon {
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
.sun {
  font-size: 150px;
}
.weather-description {
  font-size: 55px;
}
.weather-temp {
  font-size: 45px;
}
.bold {
  font-weight: bold;
  text-align: center;
}
.card-group {
  text-align: center;
}
#getLocationTemp {
  margin: 1em 0;
}
.active,
.active:hover {
    text-decoration: none;
    color: black;
}
.wrapper {
  border:1px solid black;
  border-radius:1em;
  margin: 5em auto;
  padding:1em;
  text-align:center;
}

#forecast {
  margin: 2em auto;
}

.weather-forecast-temperature-max,
.weather-forecast-temperature-min {
  font-size: 10px;
}
