h1 {
  color: black;
}
.sun-icon {
  text-align: right;
}
.sun {
  font-size: 150px;
}
.weather-description {
  font-size: 55px;
}
.weather-temp {
  font-size: 45px;
}
.bold {
  font-weight: bold;
  text-align: center;
}
.card-group {
  text-align: center;
}
#getLocationTemp {
  margin: 1em 0;
}
